In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel(r"C:\Users\Palak\Downloads\Data_Train.xlsx")

In [3]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [4]:
df["Date"]=(df["Date_of_Journey"].str.split("/").str[0]).astype(int)
df["Month"]=(df["Date_of_Journey"].str.split("/").str[1]).astype(int)
df["Year"]=(df["Date_of_Journey"].str.split("/").str[2]).astype(int)

In [5]:
df.drop(columns="Date_of_Journey",axis=1,inplace=True)

In [6]:
df["Dep_hour"]=(df["Dep_Time"].str.split(":").str[0]).astype(int)
df["Dep_min"]=(df["Dep_Time"].str.split(":").str[1]).astype(int)

In [7]:
df.drop(columns="Dep_Time",axis=1,inplace=True)

In [8]:
df["Arrival_Hour"]=((df["Arrival_Time"].str.split().str[0]).str.split(":").str[0]).astype(int)
df["Arrival_Min"]=((df["Arrival_Time"].str.split().str[0]).str.split(":").str[1]).astype(int)

In [9]:
df.drop(columns="Arrival_Time",axis=1,inplace=True)

In [10]:
df["Total_Stops"].isnull().sum()

1

In [11]:
df["Total_Stops"]=df["Total_Stops"].fillna(1)

In [12]:
df["Total_Stops"].isnull().sum()

0

In [13]:
df["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', 1, '4 stops'],
      dtype=object)

In [14]:
df["Total_Stops"]=df["Total_Stops"].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4})

In [15]:
df.loc[df["Total_Stops"]==df["Total_Stops"].isnull().sum()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_hour,Dep_min,Arrival_Hour,Arrival_Min
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218,12,5,2019,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302,1,3,2019,16,50,21,35
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1.0,In-flight meal not included,11087,12,3,2019,18,55,10,25
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,1.0,No info,22270,1,3,2019,8,0,5,5
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,1.0,In-flight meal not included,11087,12,3,2019,8,55,10,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10666,Jet Airways,Delhi,Cochin,DEL → BOM → COK,24h 45m,1.0,In-flight meal not included,10262,12,6,2019,18,15,19,0
10667,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,21h 25m,1.0,In-flight meal not included,11087,12,3,2019,22,55,20,20
10669,Air India,Delhi,Cochin,DEL → BOM → COK,11h 15m,1.0,No info,9929,15,6,2019,8,0,19,15
10674,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,24h 45m,1.0,In-flight meal not included,11087,12,3,2019,20,35,21,20
10676,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,8h 40m,1.0,No info,9794,1,5,2019,10,20,19,0

In [16]:
df["Duration"].isnull().sum()

0

In [17]:
#((df["Duration"].str.split(" ").str[0]).str.split("h").str[0]).astype(int)

In [18]:
(df.drop(index=df.loc[df["Duration"]=='5m'].index,inplace=True))

In [19]:
df["Duration_Hours"]=(((df["Duration"].str.split(" ").str[0]).str.split("h").str[0]).astype(int))*60

In [20]:
a=((df["Duration"].str.split(" ").str[1]).str.split("m")).fillna('0')
b=(a.str[0].astype(int))
df["Total_Hours"]=df["Duration_Hours"]+b
df.drop(columns="Duration_Hours",axis=1,inplace=True)

In [21]:
df.drop(columns="Duration",axis=1,inplace=True)

In [22]:
a=["Airline","Source","Destination","Additional_Info"]
from sklearn.preprocessing import LabelEncoder
ENcode=LabelEncoder()
for i in a:
    df[i]=ENcode.fit_transform(df[i])

In [23]:

#df.drop(columns="Route",axis=1,inplace=True)

In [24]:
df.rename(columns={"Total_Hours":"Total_Time_min"},inplace=True)

In [33]:
y=df[["Price"]]
x=df.drop(columns=["Price","Route"],axis=1)
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=22)

In [41]:
x["Total_Stops"]=x["Total_Stops"].fillna(1)

In [48]:
x.isnull().sum()

Airline            0
Source             0
Destination        0
Total_Stops        0
Additional_Info    0
Date               0
Month              0
Year               0
Dep_hour           0
Dep_min            0
Arrival_Hour       0
Arrival_Min        0
Total_Time_min     0
dtype: int64

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
Lin_reg=LinearRegression()

In [52]:
Lin_reg.fit(x_train,y_train)

LinearRegression()

In [53]:
y_test_pred=Lin_reg.predict(x_test)

In [54]:
Lin_reg.score(x_train,y_train)

0.43493847573556244

In [55]:
from sklearn.tree import DecisionTreeRegressor

In [56]:
DT=DecisionTreeRegressor()

In [57]:
DT.fit(x_train,y_train)

DecisionTreeRegressor()

In [58]:
DT.score(x_train,y_train)

0.9966211908486675

In [62]:
DT.score(x_test,y_test)
y_test_pred=DT.predict(x_test)